{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is web page of restaurent which include special dishes containing prices">
    <meta name="Keywords" content="restaurent,menu,dishes">
    <meta http-equiv="author " content="shivani bansal/">
    <meta http-equiv="content-language" content="en-us"
    <title>HOTEL</title>
</head>
<body>
    <table>
        <tr>
            <th>Menu</th>
            <th>Dishes</th>
        </tr>
            <td>Pasta</td>
            <td>Pizza</td>
            <td>Noodles</td>
            <td>PavBhaji</td>
            <tr>
            </tr>
                <td>Noodles</td>
                <td>PavBhaji</td>
    </table>
    <ol>
        <li><a href="#Menu">Menu section </a>
        </li>
        <li>Dishes</li>
        <li>Dishes</li>
        
    </ol>
    <br>
    <br>
    <br>
    <p><a name="Menu">it includes varius dishes in menu kindly check the menu with price and order your favourite dish.

    </a>
    </p>
    <ul>
        <li><a href="#Menu">Menu section </a></li>
        <li>Dishes</li>
        <li>italian</li>
    </ul>
    <br>
    <br>
    <br>
    <p><a name="Menu">it includes varius dishes in menu kindly check the menu with price and order your favourite dish.

    <h1>This is hotel  website</h1>
    <p>to check more information about hotel kindly visit the webpage see more about special dishes
        <a href="https://github.com/0786ShivaniBansal">Providing my github link
            
        </a>
    </p>
    <form method='post'>


        {% csrf_token %}
        <label for="customername">customername:</label>
        <input type="text" name="customername" placeholder="name"><br>
        <label for="age">age:</label>
        <input type="text" name="age" placeholder="age"><br>
        <label for="Address">Address</label><br>
        <img src="media\img\shivani.JPG" width="200" height="200" alt='image'>
        <textarea rows="10" cols="30" name="Address" placeholder="type here"></textarea><br>
        <!--audio controls="audiocontrols" >
        <source src="audio.mp3">
        </audio-->
        menu:-<br>
        <select>
            <option value="Pizza">Pizza</option>
            <option value="Pizza">Pasta</option>
            <option value="Pizza">Noodles</option>
            <option value="Pizza">PavBhaji</option>
        </select>
        yes:
        <input type="radio"name="yesorno" value="yes"><br>
        No:
        <input type="radio"name="yesorno" value="no"><br>
        <b>special birthday offers :</b><br>
        enter you birth date:<br>
        <input type="date" name="days"><br>
        <input type="number" name = "numdays" min="1" max="31" ><br>
        <fieldset>
        <legend><i>order dishes from menu:</i></legend> -<br>
        <input type="checkbox"name="pizza">Pizza<br>
        <input type="checkbox"name="noodles">Noodles<br>
        <input type="checkbox"name="pasta">Pasta<br>
        <input type="checkbox"name="pavbhaji">PavBhaji<br>
        </fieldset>
        dishes price from min to max
        <input type="number" min="0" max="500" name="num"><br>
        prices of the restaurent is &nbsp &nbsp &nbsp &nbsp decided by owner shivani bansal&#8482&copythese are fixed prices which include range from 1&gt2000<br>
        <!--<iframe frameborder="1" width="1000" height="1000" src="register.html" name="index" id="index" ></iframe>-->
        <input type="submit">

    </form>
    my birthday is on 31<sup>st</sup>august 2000
    formula of water is h<sub>2</sub>o
    <br>
    <br>
    <!--this is a document of web hotel this is comment for comment we use exclamation mark with minus -->
    <h2>Shivani Hotel</h2>
    <p>Shivani Hotel contains special dishes check the menu and go to register website
        hi &nbsp&nbsp&nbsp&nbsp shivani
    </p>
</body>
</html>